<nav class="pagination" role="navigation">
    <span class="page-number">
    {{#if prev}}
        <a class="newer-posts" href="{{pageUrl prev}}">&larr; 较新的帖子</a>
    {{/if}}
    共有{{pages}}页，正浏览第{{page}}页
    {{#if next}}
        <a class="older-posts" href="{{pageUrl next}}">较旧的帖子 &rarr;</a>
    {{/if}}
        </span>
</nav>
